<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/about/styles.css" />
    <link rel="stylesheet" href="../static/navbar/styles.css" />
    <link rel="stylesheet" href="../static/footer/styles.css" />
    <title>MoX - Movies and TV Shows Explorer</title>
  </head>
  <body>
    <header id="page-header">##navbar##</header>
    <div class="about-container">
      <div class="about-row">
        <img src="../static/about/Daniel.jpg" loading="lazy" />
        <div class="about-content">
          <h1>Lupu Cosmin-Daniel</h1>
          <ol>
            <p>Am lucrat la:</p>
            <li>Gestiunea git</li>
            <li>Setupul initial al proiectului</li>
            <li>Serviciul de useri (logare, inregistrare)</li>
            <li>Gestionarea bazelor de date</li>
            <li>Designul aplicatiei</li>
            <li>Functionalitatile de login, register si verificare cu jwt</li>
            <li>Functionalitatile de edit profile si schimbarea parolei</li>
            <li>
              Adaugarea de date in baza de date prin intermediul bannerului
            </li>
            <li>Pagina de movie details impreuna cu design-ul sau</li>
            <li>Routing ul in aplicatie</li>
            <li>Documentatie OPENAPI</li>
          </ol>
        </div>
      </div>
      <div class="about-row">
        <img src="../static/about/Ioana.png" loading="lazy" />
        <div class="about-content">
          <h1>Ghiorghi Ioana-Cristina</h1>
          <ol>
            <p>Am lucrat la:</p>
            <li>Pagina Movie List</li>
            <li>Filtrarea filmelor in functie de gen, rating, anul lansarii</li>
            <li>Crearea unui search bar</li>
            <li>
              Paginarea filmelor si posibilitatea de a alege cate filme sa apara
              in pagina
            </li>
          </ol>
          <ol>
            <p>Am contribuit la:</p>
            <li>Pagina Login, Register, Overview - partea de frontend</li>
            <li>Crearea paginii My Profile - partea de frontend</li>
            <li>Crearea paginii 404 Not Found personalizata</li>
          </ol>
        </div>
      </div>
      <div class="about-row">
        <img src="../static/about/Razvan.png" loading="lazy" />
        <div class="about-content">
          <h1>Lungeanu Razvan</h1>
          <ol>
            <p>Am lucrat la:</p>
            <li>Pagina de Index</li>
            <li>Pagina de About</li>
            <li>Pagina de Statistici</li>
            <li>Footer</li>
            <li>Modulul de Administrare</li>
            <li>Design responsive pentru paginile de mai sus</li>
            <li>Introducerea datelor din API in baza de date</li>
            <li>Exportarea statisticelor, crearea lor</li>
            <li>Endpointuri pentru paginile enumerate mai sus</li>
            <li>
              Am contribuit la crearea functiilor in service-ul si repository-ul
              de la Movie
            </li>
          </ol>
        </div>
      </div>
    </div>
    <footer id="page-footer">##footer##</footer>
    <!-- <script src="../static/about/script.js"></script>-->
    <script src="../static/navbar/script.js"></script>
  </body>
</html>
