<div class="footer-container">
  <div class="footer-row">
    <div class="footer-column">
      <h3>Additional Information</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ante
        purus, congue ut odio sed, finibus sagittis nisi. Aenean non convallis
        ligula, at elementum neque. Integer gravida auctor ultrices. Aliquam
        semper leo nec tellus commodo, ut efficitur nunc gravida. Aliquam ac
        dolor velit. Nunc odio libero, iaculis id vestibulum eget, malesuada ut
        lacus. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Duis diam est, malesuada eget leo
        sed, interdum sollicitudin nulla. Morbi ac diam neque. Aenean porta odio
        sed elit vehicula, sit amet maximus odio bibendum. Ut faucibus mollis
        massa, nec tempus sem. Maecenas ipsum odio, consectetur a maximus at,
        pulvinar sit amet magna. Phasellus tincidunt sapien non urna maximus
        fermentum. Phasellus arcu velit, semper pharetra lacus non, hendrerit
        tempus arcu.
      </p>
    </div>
  </div>
  <div class="logo">
    <span style="color: #fff">Mo</span>
    <span style="color: #d27685">X</span>
  </div>
</div>
